<html>
  <head>
  <link rel="stylesheet" href="/resources/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/resources/bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/css/main.css">
  {% block extra_css %}{% endblock %}
  <script src="/resources/js/jquery.min.js"></script>
  <script src="/resources/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  {% block extra_js %}{% endblock %}
  </head>
 <body>
  <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
          
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
       
               
                <ul class="nav hidden-xs" id="lg-menu">
                    <li><a href="/songs/">
                    	<img src="/resources/img/songs.png"> Songs
                    </a></li>
                    <li><a href="/albums/">
                    	<img src="/resources/img/albums.png">Albums
                    </a></li>
                    <li><a href="/artists/">
                    	<img src="/resources/img/artists.png"> Artists
                    </a></li>
                    <li><a href="/playlists/">
                    	<img src="/resources/img/playlists.png"> Playlists
                    </a></li>
                </ul>
                <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                    
                </ul>
              
              	<!-- tiny only nav-->
              <ul class="nav visible-xs" id="xs-menu">
                  	<li><a href="/songs/" class="text-center"><img src="/resources/img/songs.png"></a></li>
                    <li><a href="/albums/" class="text-center"><img src="/resources/img/albums.png"></a></li>
                  	<li><a href="/artists/" class="text-center"><img src="/resources/img/artists.png"></i></a></li>
                    <li><a href="/playlists/" class="text-center"><img src="/resources/img/playlists.png"></i></a></li>
                </ul>
              
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">b</a>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">
                    <form class="navbar-form navbar-left">
                        <div class="input-group input-group-sm" style="max-width:360px;">
                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
                      </li>
                      <li>
                        <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
                      </li>
                      
                    </ul>
                  	</nav>
                </div>
                <!-- /top nav -->
              
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->                      
                      	<div class="row">
                      	{% block content %}
                          
                         
                       {% endblock %}
                          
                       </div><!--/row-->
                      
                      
                      
                        <div class="row" id="footer">    
                          <div class="col-sm-6">
                            
                          </div>
                          <div class="col-sm-6">
                            <p>
                            <a href="#" class="pull-right">©Copyright 2013</a>
                            </p>
                          </div>
                        </div>
                      
                      <hr>
                      
                     
                        
                      <hr>
                        
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>


<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			Update Status
      </div>
      <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div>
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href="">
            	<i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
		  </div>	
      </div>
  </div>
  </div>
</div>
</body>